$menuWidth: 230px;
$smallMenuWidth: 47px;

.main-menu {
  width: $smallMenuWidth;
  transition: var(--pub-transition);
  background-color: var(--primary);
  z-index: 10;
  &.menu-is-open {
    width: $menuWidth;

    .logo.invisible {
      visibility: visible!important;
    }
  }
  &:not(.menu-is-open) {
    .menu-item {
      .page-name {
        display: none!important;
      }
    }
  }
  .menu-item {
    border-bottom: solid 1px var(--light);
    .page-name {
      transition: var(--pub-transition);
    }
  }
}

.main-content {
  width: calc(100% - $smallMenuWidth);
  transition: var(--pub-transition);
  &.menu-is-open {
    width: calc(100% - $menuWidth);
  }
}

body[dir="rtl"] {
  .main-menu {
    &.menu-is-open {

    }
  }

  .main-content {
    margin-right: $smallMenuWidth;
    &.menu-is-open {
      margin-right: $menuWidth;
    }
  }
}

body[dir="ltr"] {
  .main-menu {
    &.menu-is-open {

    }
  }

  .main-content {
    margin-left: $smallMenuWidth;
    &.menu-is-open {
      margin-left: $menuWidth;
    }
  }
}
